---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Challenge from '../components/Challenge.astro';
import Features from '../components/Features.astro';
import Traceability from '../components/Traceability.astro';
import Stack from '../components/Stack.astro'; // <--- Nuevo
import Footer from '../components/Footer.astro'; // <--- Nuevo
---

<Layout title="Edurun | Integridad Académica para Python">
	<Navbar />
	
	<main>
		<Hero />
		<Challenge />
		<Features />
		<Traceability />
		<Stack /> </main>

	<Footer /> </Layout>