---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Challenge from '../components/Challenge.astro'; // <--- Importar aquí
---

<Layout title="Edurun | Integridad Académica para Python">
	<Navbar />
	
	<main>
		<Hero />
		<Challenge /> <div class="h-20 bg-white"></div>
	</main>
</Layout>